body {
	overflow: hidden;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 14px;
	line-height: 1.42857143;
	color: #333;
}

html, body {
	height: 100%;
}

body nav.navbar {
	margin-bottom: 0px;
}


/* Preloader */

.loading-wrapper {
	z-index: 1001;
	background-color: #202020;
	width: 100vw;
	height: 100vh;
}

.loading {
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	border-radius: 50%;
	box-shadow: 0 0 5px #444;
}

.loading:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	border-radius: 50%;
	background: linear-gradient(grey, black 60%);
	animation: spin .5s infinite linear;
}

.loading:after {
	content: "";
	position: absolute;
	width: 95%;
	height: 95%;
	top: 2.5%;
	left: 2.5%;
	background-color: #222;
	border-radius: 50%;
	box-shadow: inset 0 0 5px #444;
}

@keyframes spin {
	to {
		transform: rotate(360deg);
	}
}

.loading span {
	color: #6f6f6f;
	position: absolute;
	margin: auto;
	height: 30px;
	width: auto;
	text-align: center;
	z-index: 2;
	font-size: 18px;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}

.loading-footer {
	bottom: 1vh;
	left: 0;
	right: 0;
	height: auto;
	margin: auto;
	width: 200px;
	position: absolute;
	font-size: 18px;
}

.hidden {
	display: none;
}

li .pull-right .btn, .customSidebar .btn {
	padding: 1px 6px;
}

.btn:focus, .btn:active {
	outline: none;
}

.flex-order-1 {
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}

[flex] {
	-webkit-flex: 1;
	-ms-flex: 1;
	flex: 1;
	box-sizing: border-box;
}

[flex-order="1"] {
	-webkit-order: 1;
	-ms-flex-order: 1;
	order: 1;
}

md-button-group {
	border-radius: 3px;
	display: inline-block;
	padding: 0;
	margin: 12px 8px;
	min-height: 36px;
	min-width: 160px;
}

md-button-group.md-raised:not([disabled]) {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
}

md-button-group .md-button {
	border-radius: 0;
	border: 0;
	min-width: 40px;
	margin: 0;
}

.button-group {
	height: 36px;
}

.dropdown-menu {
	z-index: 3000;
}

.box-desc {
	color: white;
}

.shared-information {
	height: 25%;
	background-color: #222222;
}

.box .title input {
	width: 60%;
	height: 90%;
	color: #555555;
}

.message-name {
	display: inline-block;
}

.sidebar-menu a {
	cursor: pointer;
}

.custom-shared {
	height: 70% !important;
}


/* growl fixes */

.growl-container.growl-fixed {
	position: fixed;
	margin: 0;
	width: 90%;
	max-width: 250px;
	z-index: 9999;
}

.growl-container.growl-fixed.top-right {
	top: 20px;
	right: 20px;
}

.growl-container > .growl-item {
	padding: 15px;
}

.alert-dismissable .close, .alert-dismissible .close {
	right: 0;
}

.comp {
	display: inline-block;
	cursor: pointer;
	height: 16px;
	vertical-align: text-top;
	width: 16px;
}

.buttons {
	padding-top: 10%;
}

.footer {
	bottom: 30px;
	text-align: center;
}

.menus {
	padding-top: 40px;
}

.container {
	padding-left: 6%;
	padding-right: 15px;
	height: 100vh;
	background-color: #181818;
}

.footer .pull-left {
	text-indent: -3%;
}

.text-inverse {
	color: #ffffff;
}

.text-inverse-light {
	color: #6f6f6f;
}

.text-center {
	text-align: center;
}

.pull-right {
	float: right!important;
}

.pull-left {
	float: left!important;
}

.menus {
	height: 90vh;
}

.stuff {
	margin-left: 7%;
}

#edit-message .tooltip, #new-message .tooltip {
	min-width: 200px;
}

ul[dnd-list], ul[dnd-list] > li {
	position: relative;
}

.disabled {
	opacity: 0.5;
	user-select: none;
}

.box {
	cursor: default;
	background-color: #202020;
	border: 1px solid black;
	width: 30%;
	min-height: 100px;
	list-style-type: none;
	float: left;
	border-radius: 3px;
	margin: 5px;
	user-select: none;
}

.box .title {
	background-color: #202020;
	width: 100%;
	height: 50px;
	color: white;
	font-size: 28px;
	padding-top: 5px;
	border-bottom-color: white;
	border-bottom-style: solid;
	border-bottom-width: 1px;
	background: rgba(32, 32, 32, 1);
}

.disableClick {
	pointer-events: none;
}

.dropdown-menu {
	width: 400px;
}

#StandardRadio, #GroupRadio, #ReportRadio, .customSidebar {
	background-color: #202020;
	min-height: 40px;
	height: 100%;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
}

#messages {
	background-color: #202020;
	min-height: 40px;
	list-style-type: none;
	margin: 0;
	padding: 5px 0 0 0;
	height: 55%;
}

#StandardRadio li, #GroupRadio li, #ReportRadio li {
	border: none;
	background: none;
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1.1em;
	color: #9c9c9c;
}

#StandardRadio li .md-icon-button, #GroupRadio li .md-icon-button, #ReportRadio li .md-icon-button, .customSidebar li .md-icon-button {
	margin: 0;
	padding: 0;
	height: 1em;
	width: 25px;
	min-height: 24px;
}

#StandardRadio li .edit, #GroupRadio li .edit, #ReportRadio li .edit {
	color: #9c9c9c;
}

.customSidebar li .edit {
	color: #8c8c8c;
}

#messages li, .customSidebar li {
	color: #8c8c8c;
	border: none;
	background: none;
	margin: 0 5px 5px 5px;
	padding: 5px;
	font-size: 1em;
}

.message {
	user-select: none;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

i.glyphicon, .customSidebar span.glyphicon {
	font-size: 0.8em;
}

.wrapper {
	padding-left: 0;
	transition: all 0.5s ease;
	overflow: hidden;
	height: 100vh;
	width: 100vw;
	background-color: #303030;
}

#wrapper.toggled {
	padding-left: 250px;
	overflow: hidden;
}

#messages {
	background: #202020;
	overflow: auto;
}

.sidebar-left {
	height: 100%;
	overflow: hidden;
	transition: all 0.5s ease;
	background-color: #202020;
}

.sidebar-menu {
	padding-inline-start: 0;
}

.sidebar-radio-header {
	color: #555555;
	padding-left: 10px;
}

.sidebar-right {
	margin-left: 7%;
	left: 250px;
	height: 100%;
	overflow-x: hidden;
	transition: all 0.5s ease;
	background-color: #202020;
}

#wrapper.toggled #sidebar-wrapper {
	width: 250px;
}

#page-content-wrapper {
	padding: 15px;
	width: 100%;
	overflow-x: hidden;
}

.xyz {
	min-width: 360px;
}

#wrapper.toggled #page-content-wrapper {
	position: relative;
	margin-right: 0px;
}

.fixed-brand {
	width: auto;
}


/* POPUP */

.popup {
	height: 100vh;
	width: 100vw;
	background-color: rgba(0, 0, 0, 0.45);
	z-index: 5000;
	position: absolute;
	top: 0;
}

.popup-box {
	height: 28.8vh;
	width: 34.7vw;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	margin: auto;
	background-color: black;
	color: #c8c8c8;
	-moz-user-select: -moz-none;
	-khtml-user-select: none;
	-webkit-user-select: none;
	cursor: default;
}

.popup-box-header {
	height: 18.4%;
	width: 100%;
	background-color: #1f1f1f;
	background: linear-gradient(to right, #1f1f1f, black);
}

.popup-box-header span {
	padding-top: 2%;
	padding-left: 3%;
	display: block;
	color: white;
	font-size: 1.3em;
}

.popup-box-message {
	padding-top: 4.6%;
	padding-left: 3%;
	height: 51.6%;
	width: 90%;
}

.popup-box-message div {
	display: inline-block;
}

.popup-box-options {
	padding-top: 3.8%;
	padding-right: 3.4%;
	float: right;
	font-size: 18px;
	width: 20%;
}

.popup-box-options a:first-child {
	padding-right: 12%;
}

.popup-box-options a {
	color: #c8c8c8;
}

.popup-box-options a:hover {
	color: white;
	text-decoration: none;
}


/* Sidebar Styles */

.sidebar-nav {
	top: 0;
	margin: 0;
	padding: 0;
	list-style: none;
	margin-top: 2px;
}

.sidebar-nav li {
	text-indent: 15px;
	line-height: 20px;
}

.sidebar-menu li {
	text-indent: 15px;
	line-height: 40px;
	display: block;
}

.inline-editing {
	font-size: 0.65em;
	padding-right: 7px;
	color: #999999;
}

.inline-icon {
	font-size: 0.65em;
	padding-right: 7px;
	color: #999999;
	text-indent: -330%;
}

p {
	margin: 0 0 10px;
}

md-input-container {
	margin-bottom: 0;
}

.command-dialog {
	width: 800px;
}

.autocomplete-custom-template li {
	border-bottom: 1px solid #ccc;
	height: auto;
	padding-top: 8px;
	padding-bottom: 8px;
	white-space: normal;
}

.autocomplete-custom-template li:last-child {
	border-bottom-width: 0;
}

.autocomplete-custom-template .item-title, .autocomplete-custom-template .item-metadata {
	display: block;
	line-height: 2;
}

.autocomplete-custom-template .requirements {
	color: red;
}

md-input-container textarea[md-no-autogrow].md-input {
	height: inherit;
	overflow-y: auto;
}

.g-stack {
	display: inline-block;
	line-height: 2em;
	vertical-align: -15%;
}

.g-stack md-icon {
	font-size: 30px;
	line-height: 1.2em;
	color: #999999;
	height: auto;
	width: auto;
}

.sidebar-nav li a {
	text-indent: 0;
}

.sidebar-menu li a {
	display: block;
	text-decoration: none;
	color: #999999;
}

.shared-information .sidebar-menu li a:hover, .sidebar-menu li a:hover {
	text-decoration: none;
	color: #fff;
	background: rgba(255, 255, 255, 0.2);
	border-left: red 2px solid;
}

.sidebar-menu li a:active, .sidebar-menu li a:focus {
	text-decoration: none;
}

.sidebar-nav > .sidebar-brand, .sidebar-menu > .sidebar-header, .sidebar-radio-header, .shared-information > .sidebar-header {
	height: 65px;
	font-size: 17px;
	line-height: 60px;
}

.sidebar-header {
	color: #555555;
	padding-left: 10px;
}